body {
    margin: 10px;
}

.delete {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.delete:hover,
.delete:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

a.delete {
    padding-left: 4px;
    cursor: pointer;
    background: transparent;
}

.modal-header h1 {
    font-size: 17.5px;
}